* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 1. Mobil üçün (0-576px) */
.card-container {
  max-width: 1280px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.card {
  background-color: blueviolet;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 4px 10px black;
  transition: transform 0.3s ease;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}


.card h2 {
  margin-bottom: 15px;
}

.card p {
  font-size: 16px;
  color: black;
  margin-bottom: 15px;
}

.card-btn {
  background: green;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.card-btn:hover {
  background: black;
}

.card:hover {
  transform: scale(1.1);
}

/* 2. Tablet üçün (576px - 992px) */
@media (min-width: 576px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 3. Desktop üçün (992px-dən yuxarı) */
@media (min-width: 992px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
   
  }
}